
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
 }
.table-heading{
  margin-top:4%;
  font-weight:900;
  font-size:1.9rem;
  align-content: flex-end;
  text-align: center;
  margin-left: 14%;
}
.kpi-heading{
  font-size:1.4rem;
  position: absolute;
  right:25%;
  padding-top: 2%;
}
.select-bills{
  background-color:teal;
  padding:20px;

}
.select-bills option{
  background:teal !important;


}
